body{background: #232323;
margin: 0%;
font-family: "Avenir","Montserrat";}

.square{
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin:1.33%; 
    border-radius: 15%;
    transition: all 1s;
}
#container{
    margin:20px auto;
    max-width: 600px;
}
h1{
    color: aliceblue;
    text-align: center;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;

}

#stripe{
    background: white;
    color: black;
    text-align: center;
}
.selected{
    background: white;
    color: steelblue;
}
#displayColor{
    font-size: 200%;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
    outline: none;
}
#message{
    display: inline-block;
    width: 20%;
}
button:hover{
    color: white;
    background: steelblue;
}